.header {
  background-color: #191970;
  color: silver;
  &_title {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    padding: 1em;
  }
  &_content {
    font-size: 1.4em;
    text-align: center;
    padding: 1em;
  }
}
.red {
  color: red;
}