.page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  &_content {
    width: 100%;
    & h2 {
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      padding: 1em;
    }
  }
}